---
const { size, color } = Astro.props;

let colorS;
if (color == "true") {
  colorS = `text-blue-400`;
}
---

<div class="relative group inline-block">
  <a href="https://dart.dev/" target="_blank">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="50"
      viewBox="0 0 24 24"
      class=`z-10 middle relative none center hover:text-blue-400 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ${size} ${colorS}`
      aria-label="Dart"
      ><title>Dart</title><path
        fill="currentColor"
        d="M4.105 4.105S9.158 1.58 11.684.316a3.079 3.079 0 0 1 1.481-.315c.766.047 1.677.788 1.677.788L24 9.948v9.789h-4.263V24H9.789l-9-9C.303 14.5 0 13.795 0 13.105c0-.319.18-.818.316-1.105l3.789-7.895zm.679.679v11.787c.002.543.021 1.024.498 1.508L10.204 23h8.533v-4.263L4.784 4.784zm12.055-.678c-.899-.896-1.809-1.78-2.74-2.643c-.302-.267-.567-.468-1.07-.462c-.37.014-.87.195-.87.195L6.341 4.105l10.498.001z"
      ></path></svg
    ></a
  >
  <div
    class="absolute left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 bottom-0 group-hover:-bottom-[3rem] transition-all ease-in-out duration-500"
  >
    <div
      class="z-0 w-max whitespace-normal break-words rounded-lg border border-blue-gray-50 bg-white text-blue-gray-500 shadow-lg shadow-blue-gray-500/10 focus:outline-none"
    >
      <h3 class="font-josefinRegular font-normal text-sm py-2 px-5">Dart</h3>
    </div>
  </div>
</div>
