---
import CvButton from "../components/CvButton.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Trayectoria from "../components/Trayectoria.astro";
import Habilidades from "../components/Habilidades.astro";
import MainSection from "../components/MainSection.astro";
import Estudios from "../components/Estudios.astro";
---

<Layout title="Sergio Expósito Martínez">
  <main class="text-center justify-center flex flex-col">
    <MainSection />
    <CvButton />
    <Trayectoria />
    <Habilidades />
    <Estudios />
    <Contact />
  </main>
</Layout>
