---
import CvButton from "../components/CvButton.astro";
import Layout from "../layouts/Layout.astro";
import Contact from "../components/Contact.astro";
import Trayectoria from "../components/Trayectoria.astro";
import Habilidades from "../components/Habilidades.astro";
import ToTop from "../components/ToTop.astro";
import MainSection from "../components/MainSection.astro";
---

<Layout title="Sergio EM">
  <main class="text-center justify-center flex flex-col">
    <MainSection />
    <CvButton />
    <Habilidades />
    <Trayectoria />
    <Contact />
    <ToTop />
  </main>
</Layout>
