---

---

<section class="flex justify-center items-center py-20">
  <div class="max-w-2xl text-center">
    <h2
      class="text-4xl md:text-5xl lg:text-6xl text-white font-josefinBold mb-4"
    >
      Máster en Desarrollo Web Fullstack
    </h2>
    <img
      src="/images/eiplogo.webp"
      alt="Udemy"
      class="mx-auto mb-4"
      width="200"
    />
    <p class="text-lg text-gray-400 font-mulishRegular mb-2">
      EIP International Business School
    </p>
    <p class="text-md text-gray-500 font-mulishRegular mb-6">2022 - 2024</p>
    <p class="text-gray-300 font-mulishRegular">
      Durante el Máster en Desarrollo Web Fullstack, adquirí habilidades en
      HTML5, CSS, SASS, Bootstrap, Javascript y PHP. Creé aplicaciones SPA's con
      React, Angular y Laravel, gestioné bases de datos con MySQL y MongoDB, y
      desarrollé API's y webservices. También manejé servicios cloud (AWS,
      Azure, Google Cloud) y utilicé metodologías ágiles como SCRUM y KanBan.
    </p>
  </div>
</section>
