---
const pathname = new URL(Astro.request.url).pathname;

const links = [
  {
    href: "/",
    text: "Inicio",
  },

  {
    href: "/projects",
    text: "Proyectos",
  },
  {
    href: "/blog",
    text: "Blog",
  },
  {
    href: pathname === "/contacto" ? "/:id" : "/#contact",
    text: "Contacto",
  },
];
---

<header
  class="py-6 flex flex-row justify-center items-center text-center delay-[0ms] duration-[400ms]"
>
  <nav
    aria-label="Barra de navegación"
    class="justify-center items-center text-center rounded-full transition-transform transform font-josefinBold"
  >
    <ul class="flex justify-center items-center text-center">
      {
        links.map(({ href, text }) => (
          <li class="hover:scale-105">
            <a
              aria-label={text}
              href={href}
              class={
                pathname === href
                  ? "text-pink-500 hover:text-pink-500 py-4 px-4"
                  : "text-white hover:text-pink-500 py-4 px-4 "
              }
            >
              {text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
