<div class="fixed bottom-0 right-0 p-4">
  <button
    aria-label="Volver arriba"
    class="bg-gray-800 text-white rounded-full w-10 h-10 mr-2 mb-10 sm:mr-5 md:mr-5 lg:mr-5 flex items-center justify-center animate-bounce z-50"
    id="backbtn"
    type="button"
    data-mdb-ripple="true"
    data-mdb-ripple-color="light"
    onclick="window.scrollTo({ top: 0, behavior: 'smooth' })"
    title="Volver arriba"
  >
    <svg
      class="w-6 h-6"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
    </svg>
  </button>
</div>
<style>
  #backbtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
</style>

<script>
  function backToTop() {
    const backTopButton = document.getElementById("backbtn");

    window.onscroll = () => {
      if (window.scrollY > 200) {
        backTopButton.style.opacity = "1";
        backTopButton.style.pointerEvents = "auto";
      } else {
        backTopButton.style.opacity = "0";
        backTopButton.style.pointerEvents = "none";
      }
    };
  }
  backToTop();
  document.addEventListener("astro:after-swap", () => {
    backToTop();
  });
</script>
