---

---

<div
  class="container font-josefin mx-auto px-4 py-8 delay-[100ms] duration-[400ms] taos:[transform:translate3d(0,200px,0)_scale(1.2)] taos:opacity-0"
  data-taos-offset="200"
>
  <h3
    class="text-white text-center pb-10 text-4xl md:text-5xl lg:text-6xl font-josefinBold"
  >
    Trayectoria
  </h3>

  <div class="max-w-2xl mx-auto">
    <ol class="relative border-l border-gray-200 dark:border-gray-700">
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-josefinRegular leading-none text-gray-400 dark:text-gray-500"
          >Enero 2023 - Actualmente</time
        >
        <h3 class="text-lg font-josefinBold text-gray-900 dark:text-white">
          Desarrollador de aplicaciones móviles en Hyliacom
        </h3>
        <p
          class="mb-4 text-base text-gray-500 dark:text-gray-400 font-josefinRegular"
        >
          Desarrollador de aplicaciones móviles usando frameworks como Flutter,
          Ionic Framework y React Native. <br />
        </p>

        <ol class="ml-4 border-l-2 border-gray-300 dark:border-gray-700">
          <li class="mb-4 ml-4">
            <time
              class="mb-1 text-sm font-josefinRegular leading-none text-gray-400 dark:text-gray-500"
              >Agosto 2023 - Diciembre 2023</time
            >
            <h4 class="text-lg font-josefinBold text-gray-900 dark:text-white">
              Desarrollador web en Hyliacom
            </h4>
            <p
              class="mb-4 text-base font-josefinRegular text-gray-500 dark:text-gray-400"
            >
              Creación de verticales con Wordpress <br />
               Mantenimiento de sitios web con Wordpress y PrestaShop <br />
               Mantenimiento de plugins a medida con php <br />
               Administración de bases de datos con MySql <br />
            </p>
          </li>
        </ol>
      </li>
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-josefinRegular leading-none text-gray-400 dark:text-gray-500"
          >Junio 2022 - Agosto 2023</time
        >
        <h3 class="text-lg font-josefinBold text-gray-900 dark:text-white">
          Desarrollador web en Snollocer Informática
        </h3>
        <p
          class="text-base font-josefinRegular text-gray-500 dark:text-gray-400"
        >
          Desarrollador web encargado en la creación y mantenimiento de páginas
          web con Wordpress <br />
           Desarrollador encargado en la creación y mantenimiento de páginas web
          con Wordpress Aptitudes: Elementor · Hojas de estilos en cascada (CSS)
          · PHP · WordPress · JavaScript
        </p>
      </li>
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-josefinRegular leading-none text-gray-400 dark:text-gray-500"
          >Noviembre 2021 - Febrero 2022</time
        >
        <h3 class="text-lg font-josefinBold text-gray-900 dark:text-white">
          Técnico informático en Universidad Politécnica de Valencia
        </h3>
        <p
          class="text-base font-josefinRegular text-gray-500 dark:text-gray-400"
        >
          Técnico informático encargado del edificio Biblioteca de Ciencias
          Sociales Gregori Maians en la Universidad Politécnica de Valencia,
          realizando las siguientes funciones: <br />
           Mantenimiento de equipos con Windows/Centos. <br />
           Montaje de hardware. <br />
           Instalación y configuración de sistemas operativos. <br />
           Instalación y configuración de software. <br />
           Instalación de lectores de barras. <br />
           Soporte informático al profesorado en los aularios. <br />
        </p>
      </li>
      <li class="ml-4 mb-10">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-josefinRegular leading-none text-gray-400 dark:text-gray-500"
          >Marzo 2018 - Junio 2018</time
        >
        <h3 class="text-lg font-josefinBold text-gray-900 dark:text-white">
          Desarrollador de aplicaciones web en Else Systems
        </h3>
        <p
          class="text-base font-josefinRegular text-gray-500 dark:text-gray-400"
        >
          Prácticas como Desarrollador web encargado en la creación y
          mantenimiento de sitios en Wordpress, Prestashop, Angular y Symfony.
          Funciones principales: <br />
           Desarrollo de Front-end. <br />
           Desarrollo de back-end en PHP. <br />
           Desarrollo de aplicaciones móviles con Cordova. <br />
           Administración de bases de datos con MySQL.
        </p>
      </li>
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 bg-gray-200 rounded-full -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm font-josefinRegular leading-none text-gray-400 dark:text-gray-500"
          >Marzo 2015 - Junio 2015</time
        >
        <h3 class="text-lg font-josefinBold text-gray-900 dark:text-white">
          Técnico de Hardware y Software en Gregal
        </h3>
        <p
          class="mb-4 text-base font-josefinRegular text-gray-500 dark:text-gray-400"
        >
          Prácticas como técnico informático encargado del mantenimiento de
          equipos y administración de servidores en Windows Server Montaje y
          administración de servidores en almacenes con Windows server. <br />
           Montaje y mantenimiento de equipos de trabajo. Montaje de lectores de
          códigos de barras para los puestos de trabajo.
        </p>
      </li>
    </ol>
  </div>
</div>
