---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ToTop from "../components/ToTop.astro";

import { Tooltips } from "astro-tooltips";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sergio Expósito Martínez | Desarrollador Fullstack de aplicaciones móviles"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Tooltips
      interactive={false}
      delay={[15, 50]}
      animation="fade"
      placement="top"
    />

    <title>{title}</title>
  </head>

  <body
    class="overflow-hidden scrollbar scrollbar-thumb-zinc-800 scrollbar-track-transparent scrollbar-thumb-rounded-full scrollbar-track-rounded-full"
  >
    <Header />
    <slot />
    <Footer />
    <ToTop />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        @font-face {
          font-family: "Josefin-semibold";
          font-display: block;
          font-weight: 300;
          src: url("/fonts/Josefin/JosefinSans-SemiBold.ttf") format("trueType");
        }

        @font-face {
          font-family: "Josefin-bold";
          font-display: block;
          font-weight: 700;
          src: url("/fonts/Josefin/JosefinSans-Bold.ttf") format("trueType");
        }
        @font-face {
          font-family: "Josefin-medium";
          font-display: block;
          font-weight: 500;
          src: url("/fonts/Josefin/JosefinSans-Medium.ttf") format("trueType");
        }
        @font-face {
          font-family: "Josefin-regular";
          font-display: block;
          font-weight: 400;
          src: url("/fonts/Josefin/JosefinSans-Regular.woff2")
            format("trueType");
        }
        @font-face {
          font-family: "Mulish-regular";
          font-display: block;
          src: url("/fonts/Mulish/Mulish-Regular.ttf") format("trueType");
        }
      }

      img {
        content-visibility: auto;
      }

      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      html {
        overflow-x: hidden;
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }

      main {
        padding: 1rem;
        color: white;
        font-size: 20px;
        line-height: 1.6;
      }

      /* Animación de Fade-In */
      @keyframes fade-in {
        from {
          opacity: 0;
          transform: translateY(20px);
        }
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .animate-fade-in {
        animation: fade-in 0.6s ease-out forwards;
      }

      /* Animación Tilt (si la necesitas) */
      @keyframes tilt {
        0% {
          transform: rotate(0deg);
        }
        50% {
          transform: rotate(3deg);
        }
        100% {
          transform: rotate(0deg);
        }
      }

      .animate-tilt {
        animation: tilt 1s infinite;
      }
    </style>
  </body>
</html>
