---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ToTop from "../components/ToTop.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Sergio Expósito Martínez | Desarrollador de aplicaciones móviles"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
    document.documentElement.classList.add("js");
    </script>

    <title>{title}</title>
  </head>

  <body class="overflow-hidden">
    <Header />
    <slot />
    <ToTop />
    <Footer />
    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      @layer base {
        @font-face {
          font-family: "Josefin-semibold";
          font-display: block;
          font-weight: 300;
          src: url("/fonts/Josefin/JosefinSans-SemiBold.ttf") format("trueType");
        }

        @font-face {
          font-family: "Josefin-bold";
          font-display: block;
          font-weight: 700;
          src: url("/fonts/Josefin/JosefinSans-Bold.ttf") format("trueType");
        }
        @font-face {
          font-family: "Josefin-medium";
          font-display: block;
          font-weight: 500;
          src: url("/fonts/Josefin/JosefinSans-Medium.ttf") format("trueType");
        }
        @font-face {
          font-family: "Josefin-regular";
          font-display: block;
          font-weight: 400;
          src: url("/fonts/Josefin/JosefinSans-Regular.woff2")
            format("trueType");
        }
        @font-face {
          font-family: "Mulish-regular";
          font-display: block;
          src: url("/fonts/Mulish/Mulish-Regular.ttf") format("trueType");
        }
      }

      :root {
        --accent: 136, 58, 234;
        --accent-light: 224, 204, 250;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          rgb(var(--accent-light)) 30%,
          white 60%
        );
      }

      html {
        overflow-x: hidden;
        font-family: system-ui, sans-serif;
        background: #13151a;
        background-size: 224px;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
  </body>
</html>
